:root {
    --text-preset-1-size: 2rem;
    --text-preset-1-weight: 700;
    --text-preset-1-line-height: 100%;

    --text-preset-2-size: 0.875rem;
    --text-preset-2-weight: 700;
    --text-preset-2-line-height: 110%;

    --text-preset-3-size: 0.875rem;
    --text-preset-3-weight: 500;
    --text-preset-3-line-height: 160%;

    --text-preset-4-size: 0.75rem;
    --text-preset-4-weight: 500;
    --text-preset-4-line-height: 120%;
    --text-preset-4-letter-spacing: 5px;

    --text-preset-5-size: 0.8125rem;
    --text-preset-5-weight: 500;
    --text-preset-5-line-height: 120%;

    --color-green-500: #3D8168;
    --color-green-700: #1A4032;
    --color-black: #1C232B;
    --color-grey: #6C7289;
    --color-cream: #F2EAE2;
    --color-white: #FFFFFF;

    --spacing-50: 0.25rem;  /*  4px  */
    --spacing-100: 0.5rem;  /*  8px  */
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;  /*  24px  */
    --spacing-400: 2rem;    /*  32px  */
    --spacing-500: 2.5rem;  /*  40px  */
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}
/* *** */

body {
    font-family: 'Montaserrat', monospace;
    background-color: var(--color-cream);
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    padding: 0.75rem;
}

.product {
    width: 100%;
    max-width: 21.875rem;   /*  350px  */
    background-color: var(--color-white);
    border-radius: var(--spacing-100);
    overflow: hidden;
}

.product picture {
    display: grid;
    justify-items: center;
    align-items: center;
}

.product img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.product-info {
    padding: var(--spacing-400);
}

.product-description {
    display: grid;
    gap: var(--spacing-300);
}

.product-description__category {
    font-size: var(--text-preset-4-size);
    font-weight: var(--text-preset-4-weight);
    letter-spacing: var(--text-preset-4-letter-spacing);
    line-height: var(--text-preset-4-line-height);
    text-transform: uppercase;
    color: var(--color-grey);
}

.product-description__name {
    font-family: Fraunces monospace;
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
    line-height: var(--text-preset-1-line-height);
    color: var(--color-black);
}

.product-description__description {
    font-size: var(--text-preset-3-size);
    font-weight: var(--text-preset-3-weight);
    line-height: var(--text-preset-3-line-height);
    color: var(--color-grey);
}

.product-shopping__price {
    margin: var(--spacing-300) 0;
    font-family: Fraunces monospace;
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
    line-height: var(--text-preset-1-line-height);
    color: var(--color-green-500);
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.product-shopping__price--old {
    font-family: Montaserrat monospace;
    font-size: var(--text-preset-5-size);
    font-weight: var(--text-preset-5-weight);
    line-height: var(--text-preset-5-line-height);
    text-decoration: line-through;
    color: var(--color-grey);
}

